body {
  font-size: 16px;

}
#main-content {
  position: absolute;
  z-index: 15;
  padding: 0 0 20px 20px;
  margin-left: 180px;
  margin-right: 20px;
  max-width: 1000px;
  min-width: 600px;
}
h1 {
  font-size: 1.2em;
  padding-left: 20px;
  background-color: rgb(79, 71, 194);
  color: white;
}
nav {
  position: absolute;
  z-index: 10;
  width: 160px;
  height: 600px;
  border-right: 1px solid rgb(79, 71, 194);
  font-weight: normal;
} 
nav ul {
  list-style-type: circle; 
}
nav li {
  padding-bottom: 10px;
}
nav li a.active{
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  
}

td {
  border: 1px solid rgb(209, 209, 209);
  padding: 4px;
}